header {
    background-color: #F8F8F8;
    color: #fff;
  }
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px;
    }
    
    .left {
        flex: 1;
    }

    .logo {
        margin-right: 20px;
    }

    .search-box {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .search-box input[type="text"] {
        padding: 10px;
        border: none;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        width: 300px;
    }

    .search-box button {
        padding: 10px;
        background-color: #0099ff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .search-box button:hover {
        background-color: #0077cc;
    }

    .right {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .login-button {
        padding: 10px;
        background-color: #555;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin-left: 20px;
        margin-right: 25px;
}

    .login-button:hover {
        background-color: #333;
    }

    nav{
        display: flex;
        justify-content: center;
    }
    nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
  }
  
  nav li {
    display: inline-block;
    margin-left: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  nav a:hover {
    text-decoration: underline;
  }

    .product-container {
    display: grid;
    margin:10px;
    gap: 1rem;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    grid-gap:15px;
  }
  
  .product {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 20px;
    text-align: center;
    
  }
  
  .product img {
    max-width: 100%;
    height: 250px;
    width: 250px;
    /* margin-bottom: 10px; */
  }
  
  .product h3 {
    /* margin-bottom: 10px; */
  }
  
  .product button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /* margin-top: 10px; */
    cursor: pointer;
  }
  
  .product button:hover {
    background-color: #3e8e41;
  }

    footer {
      background-color: #f5f5f5;
      padding: 20px 0;
    }
    .row{
        display: flex;
        justify-content: space-evenly;
    }
  
    h5 {
      margin-top: 0;
      margin-bottom: 20px;
      font-size: 18px;
    }
  
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
  
    ul li a {
      color: #666;
      text-decoration: none;
      font-size: 16px;
    }
  
    ul li a:hover {
      color: #333;
    }
  
    hr {
      margin-top: 20px;
      margin-bottom: 20px;
      border: 0;
      border-top: 1px solid #ccc;
    }
  
    @media (max-width: 767px) {
      footer {
        text-align: center;
      }
      ul li {
        display: inline-block;
        margin: 0 10px;
      }
    }
    .navbar {
        overflow: hidden;
        background-color: #333;
      }
      
      .navbar a {
        float: left;
        font-size: 16px;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      .dropdown {
        float: left;
        overflow: hidden;
      }
      
      .dropdown .dropbtn {
        font-size: 16px;  
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
      }
      
      .navbar a:hover, .dropdown:hover .dropbtn {
        background-color: red;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
      .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
      }
      
      .dropdown-content a:hover {
        background-color: #ddd;
      }
      
      .dropdown:hover .dropdown-content {
        display: block;
      }